/*  Eli's portfolio contains:
header
   - about box
   - expercience box
   - skills bio_text
   - projects box
footer*/

body {
  background: #d1dbbd ;
  margin: 0;
  font-family: Lato;
}
h1 {
  text-align: center;
  color:  #3e606f;
  font-family: "Proza Libre";
  text-shadow: .5px .5px #88F9D4;

  }
/* Link styling */
a:link {
    text-decoration: none;
    color: #90a7ad;
}
a:visited {
  color:  #90a7ad;
}
/* Primary Menu */
header {
  vertical-align: center;
  background-color: #3e606f;
  padding-top: 1%;
  padding-bottom: 1%;
  text-transform: uppercase;
  color: white;
  font-family: "Proza Libre";

}
/* special styling for eli burkart in menu */
#padname {
  padding-right: 1%;
  background-color: transparent;
  color: white;
  text-transform: lowercase;
  text-shadow: .5px .5px #88F9D4;
}
ul#menu li {
  display: inline;
  padding-right: 1.25%;
  padding-left: .75%;
}
.vl {
    border-left: 2px solid;
    border-color:  #90a7ad;
    color: black;
    height: 10%;
}

  /* container for bio image and text */
.About {
  display: flex;
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}
.bio_img-circle {
  flex: 1;
  border-radius: 75%;
  order:1;
}
.bio_text {
  flex: 4;
  align-items: center;
  padding-left: 3em;
  order:2;
}
.title{
  font-family: "Proza Libre";
  font-weight: bold;
  color:  #3e606f;
  text-transform: uppercase;
}
.title2 {
  font-style: italic;
}
.Experience {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
}
.Exp1 {
  flex:1;
  margin-bottom: 3%;
}
.Exp2 {
  flex:2;
  margin-bottom: 3%;
}
.Exp3 {
  flex:3;
  margin-bottom: 3%;
}
/* flex box containing skill buttons */
.Skills {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
  padding-top: 3%;
}
.buttons {
  display: flex;
  justify-content: center;
  padding-right: 2em;
}
#TSQL {
  padding-right: .75em;
  background-color: #91aa9d;
  border-radius: 12px;
  color: white;
}
#SSRS {
  padding-right: .75em;
  background-color:#91aa9d;
  border-radius: 12px;
  color: white;
}
#HTML {
  padding-right: .75em;
  background-color:#91aa9d;
  border-radius: 12px;
  color: white;
}
#CSS {
  padding-right: .75em;
  background-color:#91aa9d;
  border-radius: 12px;
  color: white;
}
#Bootstrap {
  padding-right: .75em;
  background-color:#91aa9d;
  border-radius: 12px;
  color: white;
}
#VS {
  padding-right: 1.5em;
  background-color: #91aa9d;
  border-radius: 12px;
  color: white;
  text-align: center;
}
#WP {
  padding-right: 1.5%;
  background-color: #91aa9d;
  border-radius: 12px;
  color: white;
  text-align: center;
}
/* flex box contains project text and images */
.All_projects {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 3%;
}
.Projects {
  display: flex;
  margin-bottom: 3%;
  width: 90%;
}
.Projects_img
{
  order: 2;
  flex:5;
  text-align: right;
}
.Projects_text {
  flex:2;
  order:1;
  padding-left: 10%;
  text-align: justify;
}
.Projects2{
  display: flex;
  margin-bottom: 3%;
  width: 90%;
}
.Projects_img2 {
  flex: 5;
  order:2;
  text-align: right;
}
.Projects_text2 {
  order:1;
  flex: 2;
  padding-left: 10%;
}
/* Returns to header */
.top_of {
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  color:  #2C5B61;
  font-family: "Proza Libre";
  margin-bottom: 1%;
}
/* Footer */
footer {
  vertical-align: center;
  background-color:  #3e606f;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
  font-family: "Proza Libre";
  text-align: center;
}
